.info-card {
   border-radius: 20px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

.info-card-image {
    height: 350px;
    width: 350px;
}

.info-card-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.info-card-title {
    font-size: 1.5rem;
}

.info-card-text {
    font-size: 1rem;
    padding-bottom: 90px;
}

