a {
    text-decoration: none;
}

.cardSquare {
    height: 300px;
    width: 250px;
    margin: 20px;
}

.cardSquare img {
    height: 300px;
    width: 250px;
}

.card-title {
    font-size: 2rem;
    color: white;
    font-weight: 900;
    position: relative;
    top: -100px;
    font-family: "Merriweather", serif;
}