@import "tailwindcss";

a {
    text-decoration: none;
}

.cardSquare {
    height: 300px;
    width: 250px;
    margin: 20px;
}

.cardSquare img {
    height: 300px;
    width: 250px;
}

.minicard {
    background-color: var(--text-color);
}

.minicard-text {
    color: var(--card-bg);
}

.card-podcast {
    background-color: var(--accent-color);
}
